<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="header(title)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, inital-scale=1.0">
    <title th:replace="${title}">博客详情</title>
    <!--Semantic UI CSS文件CDN-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/mne.css" th:href="@{/css/mne.css}"><!--自定义css库-->
    <link rel="stylesheet" href="../static/css/typo.css" th:href="@{/css/typo.css}"><!--typo文字排版-->
    <link rel="stylesheet" href="../static/lib/prism/prism.css" th:href="@{/lib/prism/prism.css}"><!--prism代码高亮-->
    <link rel="stylesheet" href="../static/lib/tocbot/tocbot.css" th:href="@{/lib/tocbot/tocbot.css}"><!--目录生成-->
    <link rel="stylesheet" type="text/css" href="https://csshake.surge.sh/csshake.min.css">
</head>
<body>
<!--导航部分-->
<nav th:fragment="nav(active_element)" class="ui segment vertical inverted m-padded-tb-mini m-shadow-small nav-div">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h3 class="ui item"><a href="" th:href="@{/index}" class="ui teal header">阿莨的博客</a></h3>
            <a href="./index.html" th:href="@{/index}" class="item m-mobile-hide" th:classappend="${active_element==1}?'orange active'"><i class="home icon"></i>首页</a>
            <a href="./types.html" th:href="@{/types/-1}" class="item m-mobile-hide" th:classappend="${active_element==2}?'orange active'"><i class="bars icon"></i>分类</a>
            <a href="./tags.html" th:href="@{/tags/-1}" class="item m-mobile-hide" th:classappend="${active_element==3}?'orange active'"><i class="tags icon"></i>标签</a>
            <a href="./archives.html" th:href="@{/archives}" class="item m-mobile-hide" th:classappend="${active_element==5}?'orange active'"><i class="bookmark icon"></i>归档</a>
            <a href="./about.html" th:href="@{/about}" class="item m-mobile-hide" th:classappend="${active_element==6}?'orange active'"><i class="info icon"></i>关于我</a>
            <a href="./diy.html" th:href="@{/diy}" class="item m-mobile-hide" th:classappend="${active_element==7}?'orange active'"><i class="pencil icon"></i>绘画欣赏</a>
            <div class="right inverted item m-mobile-hide m-item">
                <form name="search" action="#" th:action="@{/search}" method="post" class="search-empty">
                    <div class="ui icon inverted transparent input">
                        <input type="text" name="query" id="input-search" placeholder="搜索...">
                        <i onclick="document.forms['search'].submit()" class="search link icon"></i>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show" style="width: 50px;height: 20px;">
        <i class="sidebar icon"></i>
    </a>
</nav>

<!--底部-->
<footer th:fragment="footer" class="ui inverted segment vertical m-padded-tb-large footer-div" style="margin-top:1%;">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <!--二维码-->
            <div class="three wide column">
                <img src="../static/images/wechat.png" th:src="@{/images/wechat.png}" class="ui rounded image centered" alt="" style="width:150px;">
            </div>
                <div class="three wide column">
                    <h4 class="ui inverted m-text-thin m-text-spaced m-opacity-middel">最新微博</h4>
                    <div id="newBlogList-container">
                        <div class="ui inverted link list" th:fragment="newBlogList">
                            <a href="#" th:href="@{/blog/{id}(id=${recommendBlog.id})}" target="_blank" class="item m-black m-text-thin"  th:each="recommendBlog : ${recommendBlogs}">
                                <span  th:text="${recommendBlog.title}">用户故事</span>
                            </a>
                        </div>
                    </div>
                </div>


            <!--联系我-->
            <div class="four wide column middle">
                <h4 class="ui inverted m-text-thin m-text-spaced m-opacity-middel left floated">联系我</h4>
                <div class="ui inverted list" style="margin-top: 3.4em!important;">
                    <button class="ui circular icon red button" data-tooltip="微博" data-position="top center">
                        <i class="weibo icon"></i>
                    </button>
                    <button class="ui circular icon green button" data-tooltip="微信" data-position="top center">
                        <i class="wechat icon"></i>
                    </button>
                    <button class="ui circular icon blue button" data-tooltip="QQ" data-position="top center">
                        <i class="qq icon"></i>
                    </button>
                    <button class="ui circular icon button" data-tooltip="GitHub" data-position="top center">
                        <i class="github icon"></i>
                    </button>
                    <button class="ui circular icon orange button" data-tooltip="邮箱" data-position="top center">
                        <i class="mail icon"></i>
                    </button>
                </div>
            </div>
            <!--博客语录-->
            <div class="six wide column">
                <h4 class="ui inverted m-text-thin m-text-spaced m-opacity-middel">站长寄语</h4>
                <p class="inverted m-text-thin m-text-spaced m-opacity-mini">这是我的最新博客，会分享关于线程、写作、思考相关的任何内容，希望可以给来到这的人有所帮助...</p>
            </div>
        </div>
    </div>
    <!--横线分割-->
    <div class="ui inverted section divider m-padded-tb-mini"></div>
    <div class="ui">
        <p class="ui center aligned container m-text-thin m-text-spaced m-opacity-mini">
            公司名称：上海xxxx科技有限公司|公司地址：上海市xx区xx路xxx号|电话：xxx-xxxxxxxx
        </p>
    </div>
</footer>


<!--js块-->
<th:block th:fragment="script">
    <!--JQuery-->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <!--semantic UI JS文件CDN-->
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <script src="../static/js/animateDIY.js" th:src="@{/js/animateDIY.js}"></script> <!--代码高亮 -->
    <script src="../static/lib/prism/prism.js" th:src="@{/lib/prism/prism.js}"></script> <!--动画 -->
    <script src="../static/lib/tocbot/tocbot.min.js"  th:src="@{/lib/tocbot/tocbot.min.js}"></script><!--目录生成 -->
    <script src="../static/lib/qrcode/qrcode.min.js"  th:src="@{/lib/qrcode/qrcode.min.js}"></script><!--二维码生成 -->
    <script src="../static/lib/waypoint/jquery.waypoints.min.js"  th:src="@{/lib/waypoint/jquery.waypoints.min.js}"></script><!--根据方向隐藏 显示元素 -->
    <script src="../static/js/jquery.scrollTo.min.js"  th:src="@{/js/jquery.scrollTo.min.js}"></script><!--滚动插件 -->
    <script src="js/mouse.js" th:src="@{/js/mouse.js}"></script>
    <script>
        $("#newBlogList-container").load(/*[[@{/footer/newblogs}]]*/"/footer/newblogs"); //动态加载底部的最新推荐模块数据
    </script>
</th:block>
</body>
</html>